@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}



.body-main{
    height:100vh;
    background-color:rgba(0, 0, 0, 0.322);
    /* background-image: url("https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover; */
}

.nav-button-container{
    width: 100%;
    /* height:5rem; */
    text-align: center;
    /* margin: 5rem 0; */
    /* padding:5rem 0 */
    
}

.nav-button{
     transition: ease-in-out 0.3s;
    color: rgb(158,234,249);
    width: 100%;
}
.nav-text{
    color: rgb(158,234,249);
    width: 100%;
    text-align: center;
}

.nav-button:hover{
    color: rgb(25, 218, 128);
    width: 100%;
    border-radius: 0%;
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: ease-in-out 0.3s;
        cursor: pointer;
}

.logo{
    text-align: center;
    color:  rgb(158,234,249); 
    font-size:small;
    margin: 1rem auto;
    border-left: solid 3px rgb(110,223,246);
    border-bottom: solid 3px rgb(110,223,246);
    padding: 0.5em;
    text-shadow: 5px 5px 15px rgb(66, 140, 155);
}


.login-form-container{
    position: relative;
    height: 100vh;
}


#login-form{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    /* border-left: 10px solid salmon;
    border-bottom: 10px solid salmon;
    text-shadow: 5px 5px 15px rgb(66, 140, 155);
    background-color: rgba(0, 128, 128, 0.329);
    border-radius: 5%; */
   
    border-left: 8px solid rgb(0, 0, 0);
    border-bottom: 8px solid rgb(0, 0, 0);

    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px -20px 60px #999999,
                -20px 20px 60px #ffffff;
}
